body {
    background-color: antiquewhite;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.card img {
    width: 120px;
    height: 120px;
}

#title {
    text-align: center;
}

.card h3 {
    font-size: 20px;
}